/* Estilos para Mi Registro */
/* CONTENEDOR */
.trend-switch {
  border-color: #032541; /* azul TMDB */
}

/* BOTONES INACTIVOS */
.trend-switch .nav-link {
  color: #032541;
  background: transparent;
}

/* BOTÓN ACTIVO */
.trend-switch .nav-link.active {
  background-color: #032541 !important;
  color: #ffffff !important;
}