<div class="card h-100 shadow-sm">

  <!-- IMAGEN → navega -->
  <img
    class="card-img-top cursor-pointer"
    [src]="imageUrl"
    [alt]="title"
    (click)="navigate()"
  />

  <div class="card-body">

    <!-- TÍTULO -> navega -->
    <h6
      class="card-title mb-1 cursor-pointer"
      (click)="navigate()">
      {{ title }}
    </h6>

    <!-- TIPO -->
    <span
      class="badge mb-2"
      [ngClass]="{
        'bg-primary': type === 'Película',
        'bg-success': type === 'Serie'
      }">
      {{ type }}
    </span>

    <!-- FECHA -->
    <p class="text-muted mb-0">{{ date }}</p>

    <!-- ADDLIST -> NO navega, eventos limpios -->
    @if (isLogged()) {
  <div class="mt-2">
    <app-addlist
      [tmdbId]="tmdbId"
      [esPelicula]="esPelicula">
    </app-addlist>
  </div>
}
  </div>
</div>