<nav class="navbar navbar-expand fixed-top tmdb-navbar">
  <ul class="nav nav-underline align-items-center w-100 px-4">

    <div class="tmdb-logo d-flex flex-column align-items-start me-4">
      
    <!-- LOGO TMDB -->
   <div class="tmdb-logo">
  <span class="tmdb-lite-text">
    My MTbox <small class="version">v0.1.0-beta</small>
  </span>
</div>
       

  </div>
    <!-- LINKS -->
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">Inicio</a>
    </li>

    <li class="nav-item">
      <a routerLink="/peliculas" class="nav-link">Películas</a>
    </li>

    <li class="nav-item">
      <a routerLink="/series" class="nav-link">Series</a>
    </li>

    @if (!isLogged()) {
      <li class="nav-item ms-auto">
        <a routerLink="/login" class="nav-link">Iniciar sesión</a>
      </li>
    }

    @if (isLogged()) { 
      <li class="nav-item ms-auto">
        <a routerLink="/app/mi-registro" class="nav-link">Mi registro</a>
      </li>
      <li class="nav-item">
        <button (click)="logout()" class="nav-link btn btn-link">
          Cerrar sesión
        </button>
      </li>
    }
  </ul>
</nav>