<div class="container-fluid bg-light border-bottom p-4 fixed-top">
  <ul class="nav nav-underline px-3">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item">
      <a routerLink="/peliculas" class="nav-link">Películas</a>
    </li>
    <li class="nav-item">
      <a routerLink="/series" class="nav-link">Series</a>
    </li>
    <li class="nav-item ms-auto">
      <a routerLink="/login" class="nav-link">Iniciar sesión</a>
    </li>
  </ul>
</div>