/* CONTENEDOR */
.trend-switch {
  border-color: #032541; /* azul TMDB */
}

/* BOTONES INACTIVOS */
.trend-switch .nav-link {
  color: #032541;
  background: transparent;
}

/* BOTÓN ACTIVO */
.trend-switch .nav-link.active {
  background-color: #032541 !important;
  color: #ffffff !important;
}

/* TEXTO CON GRADIENTE TMDB (solo texto) */
span {
  background: linear-gradient(
    90deg,
    #90cea1 0%,
    #3cbec9 56%,
    #00b3e5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
  padding-bottom: 0.5rem;

  scroll-behavior: smooth;
}

/* Scroll bonito (opcional) */
.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #032541; /* azul TMDB */
  border-radius: 4px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}